*.png
*.svg
*.nc
**/__pycache__/
.qccFs3CHM/
reproducing_jiarongs_plots/.qccRjIeoo/
_*
reproducing_jiarongs_plots/kx*
reproducing_jiarongs_plots/ky*
*.tags.d
reproducing_jiarongs_plots/F_kxky
reproducing_jiarongs_plots/F_kxky_P0.02_200m
reproducing_jiarongs_plots/Makefile.deps
reproducing_jiarongs_plots/Makefile.tests
reproducing_jiarongs_plots/N10_P0.02*/
*.s.d
reproducing_jiarongs_plots/field_PM.s
reproducing_jiarongs_plots/field_PM/
reproducing_jiarongs_plots/field_PMmpi.c
reproducing_jiarongs_plots/field_PMmpi/
my_workflow_reproducing_jiarongs_plots/N10_L15_P0.02/
my_workflow_reproducing_jiarongs_plots/gen_ini.c.tags
my_workflow_reproducing_jiarongs_plots/gen_ini/
my_workflow_reproducing_jiarongs_plots/ml_breaking.gpu/
my_workflow_reproducing_jiarongs_plots/ml_breaking/
my_workflow_reproducing_jiarongs_plots/postprocess/data_Jiarong
my_workflow_reproducing_jiarongs_plots/postprocess/data_reader.py
my_workflow_reproducing_jiarongs_plots/postprocess/diags.py
my_workflow_reproducing_jiarongs_plots/postprocess/tools.py
../my_workflow_reproducing_jiarongs_plots/using_pprC/
my_workflow_reproducing_jiarongs_plots/using_pprC/

my_workflow_reproducing_jiarongs_plots/Makefile.deps
my_workflow_reproducing_jiarongs_plots/Makefile.tests
my_workflow_reproducing_jiarongs_plots/ml_breaking.gpu.c
my_workflow_reproducing_jiarongs_plots/ml_breaking.gpu.s
my_workflow_reproducing_jiarongs_plots/ml_breaking.gpu.tst
my_workflow_reproducing_jiarongs_plots/ml_breaking_pprf90.c
my_workflow_reproducing_jiarongs_plots/ml_breaking_pprf90/
my_workflow_reproducing_jiarongs_plots/namelist_highres.toml
my_workflow_reproducing_jiarongs_plots/namelist_lowres.toml
my_workflow_reproducing_jiarongs_plots/namelist_midres.toml
my_workflow_reproducing_jiarongs_plots/u_profile.dat
my_workflow_reproducing_jiarongs_plots/using_pprf90/

multilayer_stratified/.qccDrqIV5/
multilayer_stratified/Makefile.deps
multilayer_stratified/Makefile.tests
multilayer_stratified/ml_convection.gpu.c
multilayer_stratified/ml_convection.gpu.s
multilayer_stratified/ml_convection.gpu/
multilayer_stratified/ml_convection.plot
multilayer_stratified/ml_convection.s
multilayer_stratified/ml_convection.tst
multilayer_stratified/ml_convection/
multilayer_stratified/namelist.toml
my_workflow_reproducing_jiarongs_plots/ml_breaking.s
my_workflow_reproducing_jiarongs_plots/ml_breaking.tst
multilayer_stratified/.qcc1HztnC/
multilayer_stratified/first_run_1h32/
multilayer_stratified/ml_convection.gpu_N7_3600s/

RB_ml/namelist.toml


**/*.s
**/*.tst
**/*.deps
**/*.dat
**/*.nc
**/*.tests
**/*.gpu/
**/*.gpu.c
**/*.dims
**/*~
**/*.html
**/*.tags
**/*.pdf

reproducing_jiarongs_plots/postprocess/data_Jiarong.bak/

breaking_strat/gen_ini/
breaking_strat/ml_breaking_strat.gpu.c
breaking_strat/ml_breaking_strat.gpu/
breaking_strat/ml_breaking_strat.hpc/
breaking_strat/ml_breaking_strat/
bug_dimension_of_array/main.c.~0~
bug_dimension_of_array/main.dims
bug_dimension_of_array/main.log~
bug_dimension_of_array/main/
bug_write_netcdf/.qcc5hgyqO/
bug_write_netcdf/.qcc8pVcBi/
bug_write_netcdf/.qccZlpFll/
bug_write_netcdf/main.ref
bug_write_netcdf/main/
bug_write_netcdf/mainGPU.c
bug_write_netcdf/mainGPU.ref
bug_write_netcdf/mainGPU/
loggst
multilayer_stratified/.qccp9ieHa/
multilayer_stratified/.qccqRgI2E/
multilayer_stratified/.qccrz0mgv/
multilayer_stratified/ml_convection.dims
multilayer_stratified/ml_convection.log~
simu_Olivier_convection/Numerical-simulation-parameters.pdf


breaking_strat/N128_nl30_0.000002_Tinizl/
breaking_strat/N512_nl30_0.000002_Tiniz/
breaking_strat/N512_nl30_0.000002_Tinizl/
view_ini_condition/.qccbqVH2b/
view_ini_condition/.qcchSNrQA/
view_ini_condition/.qcciYwZ7S/
view_ini_condition/monochromatic.c
view_ini_condition/monochromatic/
view_ini_condition/stokes.c
view_ini_condition/stokes/
view_ini_condition/synth_eta.c
view_ini_condition/synth_eta/

