*.png
*.svg
*.nc
**/__pycache__/
.qccFs3CHM/
reproducing_jiarongs_plots/.qccRjIeoo/
_*
reproducing_jiarongs_plots/kx*
reproducing_jiarongs_plots/ky*
*.tags.d
reproducing_jiarongs_plots/F_kxky
reproducing_jiarongs_plots/F_kxky_P0.02_200m
reproducing_jiarongs_plots/Makefile.deps
reproducing_jiarongs_plots/Makefile.tests
reproducing_jiarongs_plots/N10_P0.02*/
*.s.d
reproducing_jiarongs_plots/field_PM.s
reproducing_jiarongs_plots/field_PM/
reproducing_jiarongs_plots/field_PMmpi.c
reproducing_jiarongs_plots/field_PMmpi/
my_workflow_reproducing_jiarongs_plots/N10_L15_P0.02/
my_workflow_reproducing_jiarongs_plots/gen_ini.c.tags
my_workflow_reproducing_jiarongs_plots/gen_ini/
my_workflow_reproducing_jiarongs_plots/ml_breaking.gpu/
my_workflow_reproducing_jiarongs_plots/ml_breaking/
my_workflow_reproducing_jiarongs_plots/postprocess/data_Jiarong
my_workflow_reproducing_jiarongs_plots/postprocess/data_reader.py
my_workflow_reproducing_jiarongs_plots/postprocess/diags.py
my_workflow_reproducing_jiarongs_plots/postprocess/tools.py
